<!doctype html>
<html lang="en-US">
  <head>
    <title>Bunny Stocks</title>
    <meta charset="UTF-8">
    <%# <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans">
    <script src="/javascripts/application.js"></script> %>
  </head>
  <body>
    <main>
      <%== yield %>
    </main>
  </body>
</html>
